BOT_NAME=Mr. UTC | Uni-Connect TZ Bot
ADMIN_NUMBER=255710852376
PAIRING_NUMBER=255710852376
CONTACT_NUMBER=+255710852376
WORKING_HOURS=Mon-Fri: 10:00am - 11:00pm\nSat & Sun: 9:30am - 11:00pm
DATA_DIR=storage/data
HOST=127.0.0.1
PORT=3000
SESSION_BUNDLE_B64=
WEB_CLIENT_ID=mr-utc
HEARTBEAT_INTERVAL_MS=60000
PRESENCE_INTERVAL_MS=300000
HEALTH_FAILURE_THRESHOLD=3
EXIT_ON_HEALTH_FAILURE=false
