BOT_NAME=Mr. UTC | Uni-Connect TZ Bot
ADMIN_NUMBER=255710852376
CONTACT_NUMBER=+255710852376
WORKING_HOURS=Mon-Fri: 10:00am - 11:00pm\nSat & Sun: 9:30am - 11:00pm
AUTH_DIR=auth_mrutc
DATA_DIR=data
LOG_FILE=mrutc_log.txt
AUTO_REPLY_COOLDOWN_MS=43200000
PORT=3000

