BOT_NAME=Mr. UTC | Uni-Connect TZ Bot
ADMIN_NUMBER=255710852376
PAIRING_NUMBER=255710852376
CONTACT_NUMBER=+255710852376
WORKING_HOURS=Mon-Fri: 10:00am - 11:00pm\nSat & Sun: 9:30am - 11:00pm
AUTH_DIR=storage/session
DATA_DIR=storage/data
LOG_FILE=storage/logs/mrutc.log
HOST=127.0.0.1
PORT=3000
SESSION_BUNDLE_B64=
WEB_CLIENT_ID=mr-utc
